


<div class="card flex justify-content-center" class="my-class">
    <p-sidebar [(visible)]="sidebarVisible" styleClass="my-class">
  <img  src="/assets/imgs/cevicheria.png" alt="" style="width: 200px;padding-left: 50px; margin-bottom: 20px; cursor: pointer;">
  <div  style="display: flex; flex-direction: column;">
    <button icon="pi pi-arrow-left" routerLink="/auth/login" pButton pRipple label="Salir" (click)="logout()"></button>
  </div>
    </p-sidebar>

  </div>

  <div class="layout-topbar">
    <a class="layout-topbar-logo" >
        <img src="/assets/imgs/cevicheria.png" alt="logo">
        <span>CEVICHERIA LA CHINITA</span>
    </a>

    <button #menubutton class="p-link layout-menu-button layout-topbar-button" (click)="sidebarVisible = true" >
        <i class="pi pi-bars"></i>
    </button>
</div>



