

.mesa-ocupada{
    --tw-border-opacity: 1!important;
    border-color: rgba(251,146,60,var(--tw-border-opacity))!important;
    --tw-bg-opacity: 1!important;
    background-color: rgba(255,247,237,var(--tw-bg-opacity))!important;
}

.mesa-terminada{
    --tw-border-opacity: 1!important;
    border-color: rgba(74,222,128,var(--tw-border-opacity))!important;
    --tw-bg-opacity: 1!important;
    background-color: rgba(240,253,244,var(--tw-bg-opacity))!important;
}


//*********ESTILOS LOADER******

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Fondo difuminado con opacidad */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999; /* Asegúrate de que el overlay esté por delante de otros elementos */
  }
  .loader {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: inline-block;
    border-top: 4px solid #FFF;
    border-right: 4px solid transparent;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
  }
  .loader::after {
    content: '';
    box-sizing: border-box;
    position: absolute;
    left: 0;
    top: 0;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border-left: 4px solid #6366F1;
    border-bottom: 4px solid transparent;
    animation: rotation 0.5s linear infinite reverse;
  }

  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }


//   ** Mesas Estilo

.tw-clear-both {
    clear: both !important;
}
.tw-flex-wrap {
    flex-wrap: wrap !important;
}

.tw-flex {
    display: flex !important;
}

.tw-w-full {
    width: 100% !important;
}


.tw-px-2 {
    padding-left: .5rem !important;
    padding-right: .5rem !important;
}
.tw-mb-10 {
    margin-bottom: 2.5rem !important;
}

.tw-justify-center {
    justify-content: center !important;
}

.tw-items-center {
    align-items: center !important;
}

.tw-w-60 {
    width: 15rem !important;
}

.tw-relative {
    position: relative !important;
}

.tw-px-8 {
    padding-left: 2rem !important;
    padding-right: 2rem !important;
}

.tw-py-4 {
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
}

.tw-h-56 {
    height: 14rem !important;
}

.tw-justify-center {
    justify-content: center !important;
}

.tw-flex-col {
    flex-direction: column !important;
}

.tw-flex {
    display: flex !important;
}

.tw-cursor-pointer {
    cursor: pointer !important;
}

.tw-border-2 {
    border-width: 2px !important;
}

.tw-rounded-xl {
    border-radius: .75rem !important;
}

.tw-border-gray-200 {
    --tw-border-opacity: 1 !important;
    border-color: rgba(228,228,231, 1) !important;
}

.tw-bg-gray-200 {
    --tw-bg-opacity: 1 !important;
    background-color: rgba(228,228,231, 1) !important;
}


.hover\:tw-border-gray-300:hover {
    --tw-border-opacity: 1 !important;
    border-color: rgba(212,212,216, 1) !important;
}

.hover\:tw-bg-gray-300:hover {
    --tw-bg-opacity: 1 !important;
    background-color: rgba(212,212,216, 1) !important;
}
.table-restaurant-dropdown[data-v-57cabd48] {
    position: absolute;
    right: 1px;
    top: 5px;
}
.tw-mb-3 {
    margin-bottom: .75rem !important;
}
.tw-text-lg {
    font-size: 1.125rem !important;
}
.tw-font-bold {
    font-weight: 700 !important;
}

.table-orange{
    --tw-bg-opacity: 1 !important;
    background-color: rgb(255,247,237, 1) !important;
    --tw-border-opacity: 1 !important;
    border-color: rgba(251,146,60, 1) !important;
}
.table-orange:hover{
    --tw-bg-opacity: 1 !important;
    background-color: rgb(255,237,213, 1) !important;
    --tw-border-opacity: 1 !important;
    border-color: rgba(251,146,60, 1) !important;
}

.table-green{
    --tw-bg-opacity: 1!important;
    background-color: rgba(240,253,244,var(--tw-bg-opacity))!important;
    --tw-border-opacity: 1!important;
    border-color: rgba(74,222,128,var(--tw-border-opacity))!important;

}
.table-green:hover{
    --tw-bg-opacity: 1!important;
    background-color: rgb(205, 247, 216)!important;
    --tw-border-opacity: 1!important;
    border-color: rgba(74,222,128,var(--tw-border-opacity))!important;
}




@media (min-width: 600px) {

    .tw-w-full{
        width: 50% !important;
    }
}
@media (min-width: 900px) {

    .tw-w-full{
        width: 33.333333% !important;
    }
}

@media (min-width: 1000px) {

    .tw-w-full {
        width: 25% !important;
    }
}

@media (min-width: 1280px) {

    .tw-w-full {
        width: 20% !important;
    }
}
