
.width-autocomplete{
    display: grid;
    width: 25rem;
}

@media only screen and (max-width: 763px) {
    .date{
        flex-direction: column;
    }
    .width-autocomplete{
        display: grid;
        width: 16rem;
    }
  }



  .exceed-stock{
    border: 1px solid #ef4444;
  }
