<side-bar></side-bar>

<div class="grid" style="margin-top: 5rem!important;">
    <div class="col-12">
        <div class="card px-6 py-6">
            <p-toast></p-toast>
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    <h1 style="color: black;">Gestionar Menú</h1>
                </ng-template>
            </p-toolbar>

            <div style="display: flex; gap:0 3rem" class="date" >
                <div style="width: 25rem;">
                    <h5>Platillos</h5>
                    <div style="width: 100%; margin-bottom: 5rem;">
                    <p-autoComplete [(ngModel)]="selectedDisheAdvanced" [suggestions]="filteredDishes" (completeMethod)="filterDishes($event)" field="nombre" [dropdown]="true"  (onSelect)="onDishSelect(selectedDisheAdvanced)" class="width-autocomplete">
                    </p-autoComplete>
                    </div>
                </div>
                <div>
                    <h5>Fecha</h5>
                    <p-calendar [showIcon]="true" inputId="icon" [(ngModel)]="fechaSeleccionada"></p-calendar>
                </div>
                <div style="margin-top: 2.4rem;
                margin-bottom: 2rem;">
                    <button pButton pRipple type="button" label="Guardar" (click)="guardar()"></button>
                </div>
                <!-- <div>
                    <h5>Fecha</h5>
                    <p-calendar [showIcon]="true" inputId="icon"></p-calendar>
                </div> -->
            </div>

            <!-- {{selectedDisheAdvanced | json}} -->


            <!-- Tabla de patillos registrados -->
          <p-table #dt [value]="tableData" [columns]="cols" responsiveLayout="scroll" [rows]="10" [globalFilterFields]="['name','country.name','representative.name','status']" [paginator]="true" [rowsPerPageOptions]="[10,20,30]" [showCurrentPageReport]="true" selectionMode="multiple" [rowHover]="true" dataKey="id">
            <ng-template pTemplate="caption">
                <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                    <h5 class="m-0">Platillos</h5>
                </div>
            </ng-template>
            <ng-template pTemplate="header">
                <tr >
                    <th>Nombre</th>
                    <th>Precio</th>
                    <th>Acciones<p-sortIcon field="category"></p-sortIcon></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-platillo let-i="index">
                <tr>
                    <td >
                        <span class="p-column-title">Name</span>
                        {{ platillo.nombre }}
                    </td>
                   <!-- <td >
                        <span class="p-column-title">Category</span>
                        {{platillo.categoria.nombre}}
                    </td> -->
                    <td>
                        <input type="number" [(ngModel)]="platillo.precioUnitario" pInputText placeholder="Precio"
                        [ngClass]="{'exceed-stock': validacionRealizada && !platillo.precioUnitario}">
                    </td>
                    <td>
                        <div class="flex">
                            <!-- <button pButton pRipple type="button" icon="pi pi-pencil" class="p-button-rounded p-button-info mr-2"(click)="cargarPlatillo(platillo)"></button>
                            <button pButton pRipple type="button" icon="pi pi-trash" class="p-button-rounded p-button-danger"(click)="cargarIDBorrar(platillo)"></button> -->
                            <button pButton pRipple type="button" icon="pi pi-times" class="p-button-rounded p-button-danger" (click)="quitarPlatillo(platillo.idPlatillo)"></button>
                        </div>
                    </td>
                </tr>
            </ng-template>
        </p-table>
        </div>
    </div>
</div>
