.center-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; /* Ajusta la altura según tus necesidades */
}
/* Estilos CSS para el botón Guardar fijo en la parte inferior del modal */
.fixed-button {
    position: sticky;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #22C55E; /* Ajusta el color de fondo según tu diseño */
    padding: 10px;
    z-index: 1; /* Asegura que el botón esté por encima del contenido desplazable */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 65px;
}

.content-body {
    max-height: 400px; /* Ajusta la altura máxima del área desplazable según tus necesidades */
    overflow-y: auto; /* Permite el desplazamiento vertical dentro del área desplazable */
}
