<p>register-order works!</p>

<div class="col-12">
    <div class="card card-w-title flex flex-wrap">
        <div class="col-12 md:col-8 h-full">
            <h5>TabMenu</h5>
            <p-tabMenu styleClass="mb-5" [model]="routeItems" ></p-tabMenu>

            <span class="p-buttonset">
				<button pButton pRipple label="Buscar Menú del Día" icon="pi pi-search"></button>
				<button pButton pRipple label="{{mesaNombre | uppercase}}" icon="" style="cursor:default"></button>
			</span>
            <hr>
            <span class="p-buttonset">
				<button pButton pRipple type="button" label="Pre - Cuenta" class="p-button-raised p-button-secondary" icon="pi pi-print"></button>
				<button pButton pRipple type="button" label="Guardar" class="p-button-raised p-button-success"></button>
			</span>


        </div>
        <div class="col-12 md:col-4 mt-5 md:mt-0">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>

<h1>{{mesaNombre}}</h1>
