.my-class button{
    background: #ffffff;
    border: #ffffff;
    margin: 0px 0px;
    border-radius: 15px;
    padding: 1.5rem;
    color: black;
  }
  .my-class button:hover{
    background: #caced4;
    border: #caced4;
  }
