<div class="grid">
    <div class="col-12">
        <div class="card px-6 py-6">
            <p-toast></p-toast>
            <p-toolbar styleClass="mb-4" >
                <ng-template pTemplate="left">
                    <h1 style="color: black;">Gestionar Platillos</h1>
                </ng-template>
            </p-toolbar>
            <!-- Boton Nuevo -->

          <!-- Tabla de patillos registrados -->
            <p-table #dt [value]="ordenesJson" [columns]="cols" responsiveLayout="scroll" [rows]="10" [globalFilterFields]="['name','country.name','representative.name','status']" [paginator]="true" [rowsPerPageOptions]="[10,20,30]" [showCurrentPageReport]="true" selectionMode="multiple" [rowHover]="true" dataKey="id">
                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <h5 class="m-0">Platillos</h5>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th>Nro Orden <p-sortIcon field="name"></p-sortIcon></th>
                        <th>Estado <p-sortIcon field="estado"></p-sortIcon></th>
                        <th>Hora Pedido<p-sortIcon field="Hora pedido"></p-sortIcon></th>
                        <!-- <th>Precio <p-sortIcon field="category"></p-sortIcon></th>
                        <th>Estado <p-sortIcon field="category"></p-sortIcon></th> -->
                        <!-- <th>Status <p-sortIcon field="inventoryStatus"></p-sortIcon></th> -->
                        <th>Acciones<p-sortIcon field="Acciones"></p-sortIcon></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-orden>
                    <tr  (click)="obtenerOrdenConDetalles(orden.id)" style="cursor: pointer;">
                        <td >
                            <span class="p-column-title">Name</span>
                            {{ orden.id }}
                        </td>

                        <td >
                            <span class="p-column-title">Name</span>
                            {{orden.idEstado}}
                        </td>

                        <td >
                            <span class="p-column-title">Category</span>
                            {{ orden.fecha | date:'H:mm':'es-PE'}}

                        </td>
                        <!-- <td >
                          <span class="p-column-title">Precio</span>
                          {{dishe.precio}}
                      </td> -->
                      <!-- <td >
                          <span class="p-column-title">Estado</span>

                          <span [class]="dishe.esMenuDelDia ? 'product-badge status-instock' : 'product-badge status-outofstock'">{{dishe.esMenuDelDia ? 'Habilitado':'Deshabilitado'}}</span>
                      </td> -->
                        <!-- <td><span class="p-column-title">Status</span>
                            <span>{{dishe.status}}</span>
                        </td> -->
                        <td>
                            <button pButton pRipple label="Terminar Orden" disabled="true"></button>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>

<p-dialog  [(visible)]="visible" [style]="{width: '900px'}" [modal]="true" class="p-fluid">

    <h1>Detalle Orden</h1>


    <p-toolbar styleClass="mb-4" [style]="{height:'150px'}">
        <div class="flex xl:gap-8 align-items-end" style="font-size: 15px;
        font-weight: bold;">
            <div>Nro Orden: {{ ordenConDetalles?.id }}</div>
            <div>Estado:  <span [class]="ordenConDetalles?.idEstado ? 'product-badge status-instock' : 'product-badge status-outofstock'">{{estado ? 'Preparado':'Recibido'}}</span></div>
            <div>Hora Pedido: {{ordenConDetalles?.fecha | date:'H:mm':'es-PE'}}</div>
        </div>
    </p-toolbar>

    <h2>Platos Elegidos</h2>
    <hr style="border-top: solid #000000;
    border-width: 3px 0 0 0;">

    <p-toolbar styleClass="mb-4" [style]="{height:'100%'}">
        <div class="flex flex-column row-gap-6" style="font-size: 15px;
        font-weight: bold;">
            <div class="flex align-items-end sm:gap-2" *ngFor="let detalle of ordenConDetalles?.detalle_orden">
                <p-badge value="4" size="large" severity="warning"></p-badge>
                <div>{{ detalle.idPlatillo}}</div>

                <span [class]="estado ? 'product-badge status-instock' : 'product-badge status-outofstock'">{{estado ? 'Preparado':'Recibido'}}</span>
            </div>
        </div>

        <!-- <ul>
            <li *ngFor="let detalle of ordenConDetalles?.detalle_orden">
              <div class="flex align-items-end sm:gap-2">
                <p-badge value="4" size="large" severity="warning"></p-badge>
                <div>Platillo: {{ detalle.idPlatillo }}, Cantidad: {{ detalle.cantidad }}, Total: {{ detalle.total }}</div>
                <span [class]="estado ? 'product-badge status-instock' : 'product-badge status-outofstock'">{{ estado ? 'Preparado' : 'Recibido' }}</span>
              </div>
            </li>
          </ul> -->
    </p-toolbar>

    <div class="flex justify-content-center ">
        <button icon="fa-solid fa-utensils" pButton pRipple type="button" label="Preparar" [style]="{ width: '15%'}"></button>
      </div>
</p-dialog>
