<div class="grid">
    <div class="col-12">
        <div class="card px-6 py-6">
            <p-toast></p-toast>
            <p-toolbar styleClass="mb-4" >
                <ng-template pTemplate="left">
                    <h1 style="color: black;">Órdenes por Atender</h1>
                </ng-template>
            </p-toolbar>
            <!-- Boton Nuevo -->

          <!-- Tabla de patillos registrados -->
            <p-table #dt [value]="ordenH" [columns]="cols" responsiveLayout="scroll" [rows]="10" [globalFilterFields]="['name','country.name','representative.name','status']" [paginator]="true" [rowsPerPageOptions]="[10,20,30]" [showCurrentPageReport]="true" selectionMode="multiple" [rowHover]="true" dataKey="id">
                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <h5 class="m-0">Platillos</h5>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th>Nro Orden <p-sortIcon field="name"></p-sortIcon></th>
                        <th>Estado <p-sortIcon field="estado"></p-sortIcon></th>
                        <th>Hora Pedido<p-sortIcon field="Hora pedido"></p-sortIcon></th>
                        <!-- <th>Precio <p-sortIcon field="category"></p-sortIcon></th>
                        <th>Estado <p-sortIcon field="category"></p-sortIcon></th> -->
                        <!-- <th>Status <p-sortIcon field="inventoryStatus"></p-sortIcon></th> -->
                        <th>Acciones<p-sortIcon field="Acciones"></p-sortIcon></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-orden>
                    <tr  (click)="obtenerOrdenConDetallesH(orden.id)" style="cursor: pointer;" *ngIf="orden.estado.id!=3">
                        <td >
                            <span class="p-column-title">Name</span>
                            {{ orden.id }}
                        </td>

                        <td >
                            <span class="p-column-title">Name</span>
                            <span [class]="orden.estado.id === 1 ? 'product-badge status-outofstock' : 'product-badge status-lowstock'">
                                {{ orden.estado.id === 1 ? 'Recibido' : 'En Preparación'}}</span>
                        </td>

                        <td >
                            <span class="p-column-title">Category</span>
                            {{ orden.fechaOrden | date:'H:mm':'es-PE'}}

                        </td>
                        <!-- <td >
                          <span class="p-column-title">Precio</span>
                          {{dishe.precio}}
                      </td> -->
                      <!-- <td >
                          <span class="p-column-title">Estado</span>

                          <span [class]="dishe.esMenuDelDia ? 'product-badge status-instock' : 'product-badge status-outofstock'">{{dishe.esMenuDelDia ? 'Habilitado':'Deshabilitado'}}</span>
                      </td> -->
                        <!-- <td><span class="p-column-title">Status</span>
                            <span>{{dishe.status}}</span>
                        </td> -->
                        <td>
                            <button pButton pRipple label="Terminar Orden" [disabled]="orden.estado.id === 1" (click)="obtenerOrdenEliminarH(orden.id)"></button>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>

<!-- MODAL TERMINAR ORDEN -->
 <p-dialog [(visible)]="finishOrder" header="Eliminar PLatillo" [modal]="true" [style]="{width:'450px'}">
    <div class="flex align-items-center justify-content-center">
        <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
        <span>Desea terminar la Orden?</span>
    </div>
    <ng-template pTemplate="footer">
        <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No" (click)="finishOrder = false"></button>
        <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Si" (click)="terminarOrden(ordenSeleccionada.id,3)"></button>
    </ng-template>
</p-dialog>



<!-- MODAL DETALLES PLATILLO -->

<p-dialog  [(visible)]="visible" [style]="{width: '900px'}" [modal]="true" class="p-fluid">

    <h1>Detalle Orden</h1>


    <p-toolbar styleClass="mb-4" [style]="{height:'150px'}">
        <div class="flex xl:gap-8 align-items-end" style="font-size: 15px;
        font-weight: bold;">
            <div>Nro Orden: {{ ordenSeleccionada?.id }}</div>
            <div>Estado:   <span [class]="ordenSeleccionada?.estado?.id === 1 ? 'product-badge status-outofstock' : 'product-badge status-lowstock'">
                {{ ordenSeleccionada?.estado.id === 1 ? 'Recibido' : 'En Preparación'}}
              </span></div>
            <div>Hora Pedido: {{ordenSeleccionada?.fechaOrden}}</div>
        </div>
    </p-toolbar>

    <h2>Platos Elegidos</h2>
    <hr style="border-top: solid #000000;
    border-width: 3px 0 0 0;">

    <p-toolbar styleClass="mb-4" [style]="{height:'100%'}">
        <div class="flex flex-column row-gap-6" style="font-size: 15px;
        font-weight: bold;">
            <div class="flex align-items-end sm:gap-2" *ngFor="let detalle of ordenSeleccionada?.detalleOrden">
                <p-badge [value]="detalle.cantidad" size="large" severity="warning"></p-badge>
                <div>{{ detalle?.platillo?.nombre}}</div>

                <span [class]="detalle?.estado?.id ===1 ? 'product-badge status-outofstock' : 'product-badge status-lowstock'">{{detalle.estado.id ===1 ? 'Recibido' : 'En Preparación'}}</span>
            </div>
        </div>
    </p-toolbar>

    <div class="flex justify-content-center ">
        <button icon="fa-solid fa-utensils" pButton pRipple type="button" label="Preparar" [style]="{ width: '15%'}" (click)="actualizarEstadoOrden(ordenSeleccionada.id,2)"></button>
      </div>
</p-dialog>

<div class="overlay" *ngIf="loading">
    <div class="loader"></div>
  </div>
