<app-side-bar-cocinero></app-side-bar-cocinero>

<div class="grid" style="padding-top: 8rem;">
    <div class="col-12">
        <div class="card px-6 py-6">
            <p-toast></p-toast>
            <p-toolbar styleClass="mb-4" >
                <ng-template pTemplate="left">
                    <h1 style="color: black;">Órdenes por Atender</h1>
                </ng-template>
            </p-toolbar>
            <!-- Boton Nuevo -->

          <!-- Tabla de patillos registrados -->
            <p-table #dt [value]="listaOrdenesSomee" [columns]="cols" responsiveLayout="scroll" [rows]="10" [globalFilterFields]="['name','country.name','representative.name','status']" [paginator]="true" [rowsPerPageOptions]="[10,20,30]" [showCurrentPageReport]="true" selectionMode="multiple" [rowHover]="true" dataKey="id">
                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <h5 class="m-0">Platillos</h5>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr style="font-size: 25px;">
                        <th>Nro Orden <p-sortIcon field="name"></p-sortIcon></th>
                        <th>Estado <p-sortIcon field="estado"></p-sortIcon></th>
                        <th>Hora Pedido<p-sortIcon field="Hora pedido"></p-sortIcon></th>
                        <th>Acciones<p-sortIcon field="Acciones"></p-sortIcon></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-orden>
                    <tr  (click)="obtenerDetalleOrdenSomee(orden.mesaId)" style="cursor: pointer;" *ngIf="orden.estadoOrden!=3">
                        <td >
                            <span class="p-column-title">Name</span>
                            {{ orden.idOrden }}
                        </td>

                        <td >
                            <span class="p-column-title">Name</span>
                            <span [class]="orden.estadoOrden === 1 ? 'product-badge status-outofstock' : 'product-badge status-lowstock'">
                                {{ orden.estadoOrden === 1 ? 'Recibido' : 'En Preparación'}}</span>
                        </td>

                        <td >
                            <span class="p-column-title">Category</span>
                            {{ orden.fecha | date:'H:mm':'es-PE'}}

                        </td>
                        <td>
                            <button pButton pRipple label="Terminar Orden" [disabled]="orden.estadoOrden === 1" (click)="$event.stopPropagation" (click)="$event.stopPropagation(); actualizarEstadoOrdenSomee(orden.idOrden, 3)"></button>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>

<!-- MODAL DETALLES PLATILLO -->
<p-dialog  [(visible)]="visible" [style]="{width: '900px'}" [modal]="true" class="p-fluid">
    <h1>Detalle Orden</h1>

    <p-toolbar *ngIf="listaOrdenDetalleSomee" styleClass="mb-4" [style]="{height:'150px'}">
        <div class="flex xl:gap-8 align-items-end" style="font-size: 15px;
        font-weight: bold;">
            <div>Nro Orden: {{ listaOrdenDetalleSomee?.idOrden }}</div>
            <div>Estado:   <span [class]="listaOrdenDetalleSomee?.estadoOrden === 1 ? 'product-badge status-outofstock' : 'product-badge status-lowstock'">
                {{ listaOrdenDetalleSomee?.estadoOrden === 1 ? 'Recibido' : 'En Preparación'}}
              </span></div>
            <div>Hora Pedido: {{listaOrdenDetalleSomee?.fecha | date:'H:mm':'es-PE'}}</div>
        </div>
    </p-toolbar>

    <div *ngIf="!listaOrdenDetalleSomee" style="display: flex;
      justify-content: center;">
      <div class="loader"></div>
  </div>

    <h2>Platos Elegidos</h2>
    <hr style="border-top: solid #000000;
    border-width: 3px 0 0 0;">

    <p-toolbar *ngIf="listaOrdenDetalleSomee" styleClass="mb-4" [style]="{height:'100%'}">
        <div class="flex flex-column row-gap-6" style="font-size: 15px;
        font-weight: bold;">
            <div class="flex align-items-end sm:gap-2" *ngFor="let detalle of listaOrdenDetalleSomee?.platillos">
                <p-badge [value]="detalle?.cantidad" size="large" severity="warning"></p-badge>
                <div>{{ detalle?.nombrePlatillo}}</div>

                <span [class]="detalle?.estado?.id ===1 ? 'product-badge status-outofstock' : 'product-badge status-lowstock'">{{detalle?.estado ===1 ? 'Recibido' : 'En Preparación'}}</span>
            </div>
        </div>
    </p-toolbar>

    <div *ngIf="!listaOrdenDetalleSomee" style="display: flex;
    justify-content: center; margin-bottom: 15px;">
    <div class="loader"></div>
</div>

    <div class="flex justify-content-center ">
        <button icon="fa-solid fa-utensils" pButton pRipple type="button" label="Preparar" [style]="{ width: '15%'}" (click)="actualizarEstadoOrdenSomee(listaOrdenDetalleSomee.idOrden,2)"></button>
      </div>
</p-dialog>


