



  //*Platillos style
  .sm\:tw-px-8 {
    padding-left: 2rem !important;
    padding-right: 2rem !important;
}
.tw-pb-8 {
    padding-bottom: 2rem !important;
}
.tw-overflow-y-auto {
    overflow-y: auto !important;
}
.card::-webkit-scrollbar {
    width: 0;
   }
.tw-flex-1 {
    flex: 1 1 0% !important;
}
.tw-grid {
    display: grid !important;
}




.tw-grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr)) !important;
}
@media (min-width: 640px) {
    .sm\:tw-grid-cols-3 {
      grid-template-columns: repeat(3, minmax(0, 1fr)) !important;
    }
  }

.tw-gap-5 {
    grid-gap: 1.25rem !important;
    gap: 1.25rem !important;
}

.tw-cursor-pointer {
    cursor: pointer !important;
}

.tw-relative {
    position: relative !important;
}

.tw-text-white {
    --tw-text-opacity: 1 !important;
    color: rgba(255,255,255, 1) !important;
}

.tw-right-0 {
    right: 0 !important;
}
.tw-top-0 {
    top: 0 !important;
}

.tw-absolute {
    position: absolute !important;
}

.tw-px-2\.5 {
    padding-left: .625rem !important;
    padding-right: .625rem !important;
}
.tw-py-0\.5 {
    padding-top: .125rem !important;
    padding-bottom: .125rem !important;
}
.tw-mr-1\.5 {
    margin-right: .375rem !important;
}
.tw-mt-1\.5 {
    margin-top: .375rem !important;
}
.tw-text-xs {
    font-size: .75rem !important;
    line-height: 1rem !important;
}
.tw-font-bold {
    font-weight: 700 !important;
}
.tw-rounded-lg {
    border-radius: .5rem !important;
}
.tw-bg-gray-600 {
    --tw-bg-opacity: 1 !important;
    background-color: rgba(82,82,91, 1) !important;
}

.tw-w-full {
    width: 100% !important;
}
.tw-text-4xl {
    font-size: 2.25rem !important;
    line-height: 2.5rem !important;
}
.tw-h-28 {
    height: 7rem !important;
}
.tw-justify-center {
    justify-content: center !important;
}
.tw-items-center {
    align-items: center !important;
}
.tw-flex {
    display: flex !important;
}
.tw-rounded-2xl {
    border-radius: 1rem !important;
}
.tw-bg-gray-100 {
    --tw-bg-opacity: 1 !important;
    background-color: rgba(244,244,245, 1) !important;
}

.tw-text-center {
    text-align: center !important;
}
.tw-mt-2 {
    margin-top: .5rem !important;
}
.tw-text-base {
    font-size: 1rem !important;
    line-height: 1.5rem !important;
}
.tw-font-semibold {
    font-weight: 600 !important;
}

svg:not(:root).svg-inline--fa, svg:not(:host).svg-inline--fa {
    overflow: visible;
    box-sizing: content-box;
}
.svg-inline--fa {
    display: var(--fa-display, inline-block);
    height: 1em;
    overflow: visible;
    vertical-align: -0.125em;
}

//* PILLS
.custom-category-item[data-v-1dde7998] {
    min-width: 96px;
    min-height: 44px;
}

.tw-text-center {
    text-align: center !important;
}
.tw-py-1\.5 {
    padding-top: .375rem !important;
    padding-bottom: .375rem !important;
}
.tw-px-3 {
    padding-left: .75rem !important;
    padding-right: .75rem !important;
}
.tw-font-medium {
    font-weight: 500 !important;
}
.tw-justify-center {
    justify-content: center !important;
}
.tw-items-center {
    align-items: center !important;
}

.tw-flex {
    display: flex !important;
}
.tw-cursor-pointer {
    cursor: pointer !important;
}
.tw-bg-gray-100 {
    --tw-bg-opacity: 1 !important;
    background-color: rgba(244,244,245, 1) !important;
}
.hover\:tw-bg-gray-200:hover {
    --tw-bg-opacity: 1 !important;
    background-color: rgba(228,228,231, 1) !important;
}
.tw-line-clamp-2 {
    -webkit-line-clamp: 2 !important;
}
.tw-line-clamp-2 {
    overflow: hidden !important;
    display: -webkit-box !important;
    -webkit-box-orient: vertical !important;
}
.tw-capitalize {
    text-transform: capitalize !important;
}
.tw-text-xs {
    font-size: .75rem !important;
    line-height: 1rem !important;
}


.p-table-scrollable {
    max-height: 400px; /* Define el alto máximo */
    overflow-y: auto; /* Agrega un scroll vertical si es necesario */
}
::ng-deep {
    .p-datatable>.p-datatable-wrapper {
        overflow: auto;
        height: 580px; /* Define el alto máximo */

    }

}


// *****************buttons end


@media (min-width: 1024px) {
    .lg\:tw-px-8 {
        padding-left: 2rem !important;
        padding-right: 2rem !important;
    }
    .lg\:tw-block {
        display: block !important;
    }
    .lg\:tw-text-base {
        font-size: 1rem !important;
        line-height: 1.5rem !important;
    }
  }
  .tw-mb-4 {
    margin-bottom: 1rem !important;
}
.tw-mt-4 {
    margin-top: 1rem !important;
}
.tw-h-9 {
    height: 2.25rem !important;
}
.tw-items-center {
    align-items: center !important;
}
.tw-flex {
    display: flex !important;
}

.tw-text-sm {
    font-size: .875rem !important;
    line-height: 1.25rem !important;
}
.tw-font-semibold {
    font-weight: 600 !important;
}
.tw-flex-1 {
    flex: 1 1 0% !important;
}
.tw-items-center {
    align-items: center !important;
}
.tw-whitespace-nowrap {
    white-space: nowrap !important;
}
.tw-text-base {
    font-size: 1rem !important;
    line-height: 1.5rem !important;
}
.tw-font-bold {
    font-weight: 700 !important;
}


.tw-relative {
    position: relative !important;
}
.tw-mb-5 {
    margin-bottom: 1.25rem !important;
}
.tw-mt-4 {
    margin-top: 1rem !important;
}
.tw-flex-col {
    flex-direction: column !important;
}

.tw-gap-0 {
    grid-gap: 0 !important;
    gap: 0 !important;
}
.tw-px-0 {
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.tw-mb-0 {
    margin-bottom: 0 !important;
}
.tw-h-16 {
    height: 4rem !important;
}
.tw-flex-grow {
    flex-grow: 1 !important;
}
button:not(:disabled) {
    cursor: pointer;
}
.tw-w-full {
    width: 100% !important;
}
.tw-py-2\.5 {
    padding-top: .625rem !important;
    padding-bottom: .625rem !important;
}
.tw-h-full {
    height: 100% !important;
}
.tw-font-medium {
    font-weight: 500 !important;
}
.tw-justify-center {
    justify-content: center !important;
}
.tw-items-center {
    align-items: center !important;
}
.tw-rounded-none {
    border-radius: 0 !important;
}
.tw-bg-gray-100 {
    --tw-bg-opacity: 1 !important;
    background-color: rgba(244,244,245, 1) !important;
    border-color:  rgba(244,244,245, 1);
}
.tw-mr-2\.5 {
    margin-right: .625rem !important;
}

.tw-bg-susii-red-500 {
    --tw-bg-opacity: 1 !important;
    background-color: rgba(226,30,66, 1) !important;
    border-color: rgba(226,30,66, 1);
}

.tw-border-green-500 {
    --tw-border-opacity: 1 !important;
    border-color: rgba(34,197,94, 1) !important;
}
.tw-bg-green-500 {
    --tw-bg-opacity: 1 !important;
    background-color: rgba(34,197,94, 1) !important;
}
button{
    border: none;
}



@media (min-width: 1280px) {
    .xl\:tw-gap-2 {
        grid-gap: .5rem !important;
        gap: .5rem !important;
    }
    .xl\:tw-px-8 {
        padding-left: 2rem !important;
        padding-right: 2rem !important;
    }
    .xl\:tw-mb-8 {
        margin-bottom: 2rem !important;
    }
    .xl\:tw-rounded-2xl {
        border-radius: 1rem !important;
    }
    .xl\:tw-rounded-l-2xl {
        border-radius: 1rem !important;
    }
  }



@media (min-width: 1536px) {
    .\32xl\:tw-text-lg {
        font-size: 1.125rem !important;
        line-height: 1.75rem !important;
    }
    .\32xl\:tw-h-40 {
        height: 10rem !important;
    }
  }

  .hover\:tw-border-green-600:hover {
    --tw-border-opacity: 1 !important;
    border-color: rgba(22,163,74, 1) !important;
}

.hover\:tw-bg-green-600:hover {
    --tw-bg-opacity: 1 !important;
    background-color: rgba(22,163,74, 1) !important;
}
.hover\:tw-bg-susii-red-600:hover {
    --tw-bg-opacity: 1 !important;
    background-color: rgba(199,26,57, 1) !important;
}



// ****Tab Menu


@media (min-width: 1280px) {
    .\32xl\:tw-text-lg {
        .xl\:tw-order-none {
            order: 0 !important;
        }
    }
    .xl\:tw-border-b {
        border-bottom-width: 1px !important;
    }
    .xl\:tw-border-t-0 {
        border-top-width: 0 !important;
    }

  }


  .md\:tw-flex {
    display: flex !important;
}
  .tw-h-16 {
    height: 4rem !important;
}

button:not(:disabled) {
    cursor: pointer;
}

.tw-relative {
    position: relative !important;
}

.tw-text-lg, .tw-text-xl {
    line-height: 1.75rem !important;
}

.tw-text-lg {
    font-size: 1.5rem !important;
}
.tw-font-bold {
    font-weight: 700 !important;
}


.tw-flex-1 {
    flex: 1 1 0% !important;
}

.tw-justify-center {
    justify-content: center !important;
}

.tw-items-center {
    align-items: center !important;
}

.tw-text-sm {
    font-size: .875rem !important;
    line-height: 1.25rem !important;
}

.tw-bg-red-500 {
    border-bottom: 2px solid #6366F1;

}


.categoria-active{
    --tw-bg-opacity: 1 !important;
    background-color: rgb(99 102 241) !important;
    color: white;
}

.img-style{
    width: 100% !important;
    height: 10rem !important;
    border-radius: 1rem !important;
    vertical-align: middle;
    border-style: none;
    max-width: 100%;
}
